<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ePKModeler -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ePKModeler.presentation.EPKModelerModelWizardID"
            name="%_UI_EPKModelerModelWizard_label"
            class="ePKModeler.presentation.EPKModelerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EPKModelerModelFile.gif">
         <description>%_UI_EPKModelerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ePKModeler -->
      <editor
            id="ePKModeler.presentation.EPKModelerEditorID"
            name="%_UI_EPKModelerEditor_label"
            icon="icons/full/obj16/EPKModelerModelFile.gif"
            extensions="epkmodeler"
            class="ePKModeler.presentation.EPKModelerEditor"
            contributorClass="ePKModeler.presentation.EPKModelerActionBarContributor">
      </editor>
   </extension>

</plugin>
